
lib7dlg DIALOG 21, 21, 364, 197
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Диалог из ресурса в DLL"
FONT 8, "MS Sans Serif"
begin
 AUTORADIOBUTTON "Взять", 1, 15, 9, 60, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 AUTORADIOBUTTON "Установить", 2, 15, 23, 60, 12
 AUTORADIOBUTTON "Очистить", 3, 15, 37, 60, 12
 DEFPUSHBUTTON "Выполнить", 4, 86, 8, 60, 17, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 LISTBOX 5, 8, 56, 353, 137, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 EDITTEXT 6, 85, 32, 246, 18, WS_BORDER | WS_TABSTOP
end
