

LAB7MENU MENU 
{
 POPUP "&Команды"
 {
  MENUITEM "&Статическа\377 загрузка", 101
  MENUITEM "&Динамическа\377 загрузка", 102
  MENUITEM "Диа&лог", 103
 }

 MENUITEM "&Выход", 104, HELP
}

TRIANGLE CURSOR cursor1.cur

LAB7 ICON icon1.ico

STRINGTABLE
{
1, "Заголовок окна"
}