<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
      name ="CustomConnectionString"
      connectionString ="Data Source=.; Initial Catalog = School_db; Integrated Security = True; Persist Security Info=True; User ID=Milord; Password=pdtpl0ktn"
      providerName="System.Data.SqlClient"
      />
  </connectionStrings>
</configuration>