Lab4Dialog DIALOG 21, 21, 364, 197
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Lab 4 Dialog"
FONT 16, "Courier"
{
 DEFPUSHBUTTON "SHUT YOUR MOUTH", 5, 64, 64, 60, 17, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
}

Lab6Dialog DIALOG 21, 21, 450, 200
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Dialog from res to DLL"
FONT 8, "MS Sans Serif"
{              
 EDITTEXT 6, 100, 30, 250, 40, WS_VISIBLE | WS_CHILD |  WS_TABSTOP | ES_CENTER | WS_GROUP
 LISTBOX  7, 5, 100, 400, 100, WS_VISIBLE | WS_CHILD | WS_BORDER | WS_TABSTOP | WS_VSCROLL | LBS_NOTIFY | LBS_SORT
}