LAB7MENU MENU 
{
 POPUP "Menu"
 {
  MENUITEM "Search", 101
  MENUITEM "Play Lab 4", 102
  MENUITEM "Show parameters", 103
 }

 MENUITEM "Exit", 104, HELP
}

TRIANGLE CURSOR cursor.cur

LAB7 ICON icon.ico

SHUT BITMAP shut.bmp

BACKGROUND BITMAP background.bmp

STRINGTABLE
{
1, "KOTOR"
}